<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Site</div>
                <a class="nav-link" href="/questions">
                    <div class="sb-nav-link-icon"><i class="fas fa-question-circle"></i></div>
                    Questions
                </a>
                <a class="nav-link" href="/user/leaderboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Leaderboard
                </a>
                <div class="sb-sidenav-menu-heading">User</div>
                <a class="nav-link" href="/user/profile">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></i></div>
                    Profile
                </a>
                <a class="nav-link" href="/user/login">
                    <div class="sb-nav-link-icon"><i class="fas fa-sign-in-alt"></i></i></div>
                    Login
                </a>
                <div class="sb-sidenav-menu-heading">Support</div>
                <a class="nav-link" data-bs-toggle="modal" href="#reportIssue">
                    <div class="sb-nav-link-icon"><i class="fas fa-bug"></i></div>
                    Report Issue
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            <%=display.user%>
        </div>
    </nav>
</div>
<div class="modal fade" id="reportIssue" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Report an Issue</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="needs-validation" action="/issues/new" method="post">
                <div class="mb-3">
                    <textarea class="form-control" id="details" rows="5" name="details" maxlength="1000" required placeholder="Write the issue or bug here"></textarea>
                </div>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-outline-success">Report</button>
            </form>
        </div>
    </div>
    </div>
</div>