<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Site</div>
                <a class="nav-link" href="/questions">
                    <div class="sb-nav-link-icon"><i class="fas fa-question-circle"></i></div>
                    Questions
                </a>
                <a class="nav-link" href="/user/leaderboard">
                    <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                    Leaderboard
                </a>
                <div class="sb-sidenav-menu-heading">User</div>
                <a class="nav-link" href="/user/profile">
                    <div class="sb-nav-link-icon"><i class="fas fa-users"></i></i></div>
                    Profile
                </a>
                <a class="nav-link" href="/user/login">
                    <div class="sb-nav-link-icon"><i class="fas fa-sign-in-alt"></i></i></div>
                    Login
                </a>
                <div class="sb-sidenav-menu-heading">Support</div>
                <a class="nav-link" data-bs-toggle="modal" href="#reportIssue">
                    <div class="sb-nav-link-icon"><i class="fas fa-bug"></i></div>
                    Report Issue
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            <%=display.user%>
        </div>
    </nav>
</div>