<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login</title>
        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5" id="login">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                        <% if(error.message != ''){ %>
                                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                                <i class="fas fa-exclamation-triangle me-3"></i>
                                                <div>
                                                    <%=error.message%>
                                                </div>
                                            </div>
                                          <% } %>
                                        <form action="/user/login" method="post">
                                            <div class="form-floating mb-3">
                                                <input name="email" class="form-control" id="inputEmail" type="email" placeholder="name@example.com" required />
                                                <label for="inputEmail">Email address</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input name="password" class="form-control" id="inputPassword" type="password" placeholder="Password" required/>
                                                <label for="inputPassword">Password</label>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="password.html">Forgot Password?</a>
                                                <button class="btn btn-primary" type="submit">Login</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="javascript:void(0)" onclick="toRegister()">Need an account? Sign up!</a></div>
                                    </div>
                                </div>

                                <div class="card shadow-lg border-0 rounded-lg mt-5 d-none" id="register">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Register</h3></div>
                                    <div class="card-body">
                                        <% if(error.message != ''){ %>
                                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                                <i class="fas fa-exclamation-triangle me-3"></i>
                                                <div>
                                                    <%=error.message%>
                                                </div>
                                            </div>
                                          <% } %>
                                        <form action="/user/login" method="post">
                                            
                                            <div class="form-floating mb-3 input-group">
                                                
                                                <input name="password" class="form-control" id="inputPassword" type="text" placeholder="Password" required/>
                                                
                                                
                                                <span class="input-group-text">@stu.ocsb.ca</span>
                                                <label for="inputPassword">Email Address</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col ">
                                                    <div class="form-floating">
                                                        <input name="firstName" class="form-control" id="firstName" type="text" placeholder="Password" required/>
                                                        <label for="firstName">First Name</label>
                                                    </div>
                                                </div>
                                                <div class="col ">
                                                    <div class="form-floating">
                                                        <input name="password" class="form-control" id="inputPassword" type="text" placeholder="Password" required/>
                                                        <label for="inputPassword">Last Name</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <select class="form-select mb-3" aria-label="Default select example">
                                                <option selected>Grade</option>
                                                <option value="1">9</option>
                                                <option value="2">10</option>
                                                <option value="3">11</option>
                                                <option value="3">12</option>
                                              </select>
                                            <div class="form-floating mb-3">
                                                <input name="password" class="form-control" id="inputPassword" type="password" placeholder="Password" required/>
                                                <label for="inputPassword">Password</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input name="password" class="form-control" id="inputPassword" type="password" placeholder="Password" required/>
                                                <label for="inputPassword">Re-enter Password</label>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <button class="btn btn-primary" type="submit">Register</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="javascript:void(0)" onclick="toLogin()">Already have an account? Login!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                </div>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script>
            function toRegister() {
                const sectionLog = document.getElementById('login')
                sectionLog.classList.add('d-none')
                const sectionReg = document.getElementById('register')
                sectionReg.classList.remove('d-none')
            }

            function toLogin() {
                const sectionReg = document.getElementById('register')
                sectionReg.classList.add('d-none')
                const sectionLog = document.getElementById('login')
                sectionLog.classList.remove('d-none')
            }
        </script>
    </body>
</html>