<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="POST" action="/user/login">
            <h1>login</h1>
            <label for="email-l">email</label>
            <input id="email-l" name="email" type="text">
            <label for="password">password</label>
            <input id="password" name="password" type="text">
            <button type="submit">login</button>
        </form>
    </div>
    <div>
        <h1>register</h1>
        <label for="email-r">email</label>
        <input id="email-r" name="email" type="text">
        <label for="password">password</label>
        <input id="password" name="password" type="text">
    </div>
</body>
</html>